.main {
    padding: 20px;
    width: 100vw;
    display: flex;
    gap: 10px;
    background-color: #EFE9E0;
    flex-direction: column;
    align-items: center;
}

.section_products {
    width: 90vw;
    display: flex;
    padding: 100px;
    gap: 40px;
    margin: 50px auto 0;
}

.section_products {
    width: 90vw;
    display: flex;
    padding: 0 100px 100px;
    gap: 40px;
    margin: 0 auto;
    flex-direction: column;
}

.section_info {
    width: 90vw;
    display: flex;
    padding: 0 100px 100px;
    gap: 40px;
    margin: 0 auto;
    flex-direction: column;
    border-bottom: 1px solid black;
}

.dropdowns__block {
    display: flex;
    align-items: start;
    flex-wrap: wrap;
}

.section_author_works {
    width: 90vw;
    display: flex;
    padding: 30px 100px 100px;
    gap: 20px;
    margin: 0 auto;
    flex-direction: column;
}

.title {
    composes: text-style-heading-2 from '../../../index.css';
    margin: 0;
}

.desc {
    composes: text-style-body-l from '../../../index.css';
    margin: 0;
}