.main {
    padding: 20px;
    display: flex;
    gap: 10px;
    background-color: var(--color-background-background-page);
    flex-direction: column;
    align-items: center;
}

.container {
    display: flex;
    padding: 0 80px 100px;
    gap: 40px;
    margin: 0 auto;
    flex-direction: column;
}

.gallery {
    position: relative;
    columns: 3;
}

.filters {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 1200px) {
    .gallery {
        position: relative;
        columns: 2;
    }
}

@media screen and (max-width: 1200px) {
    .gallery {
        position: relative;
        columns: 2;
    }
}

