.main {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 30px;
}

.container {
    width: 820px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.title {
    composes: text-style-heading-3 from '../../../../index.css';
    margin: 0;
    padding: 0;
}

.desc {
    composes: text-style-body-l from '../../../../index.css';
    text-align: center;
    margin: 0;
    padding: 0;
}