.main {
    padding: 20px;
    width: 100vw;
    display: flex;
    gap: 10px;
    background-color: #EFE9E0;
    flex-direction: column;
}

.section_slider {
    width: 90vw;
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin: 30px auto 0;
}

.section_benefits {
    width: 90vw;
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin: 30px auto 0;
}

.section_benefits {
    width: 90vw;
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin: 100px auto 0;
}

.section_benefits__main {
    width: 950px;
    flex-direction: column;
    display: flex;
    gap: 20px
}

.section_benefits__title {
    margin: 0;
    font-size: 58px;
    font-family: 'TT Commons';
    font-weight: 900;
}

.section_benefits__block {
    padding: 40px 0;
    display: flex;
    justify-content: space-between;
}

.section_benefits__info {
    width: 786px;
    display: flex;
    flex-direction: column;
    gap: 30px
}

.section_benefits__image {
    border-radius: 8px;
}

.title {
    font-size: 42px;
    font-family: 'TT Commons';
    font-weight: 900;
    text-transform: uppercase;
    margin: 0;
}

.ul {
    margin: 15px;
    padding: 0;
}

.desc {
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-family: 'TT Commons';
    font-weight: 400;
    margin: 0;
}

.section_questions {
    width: 90vw;
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin: 30px auto 0;
}